/* .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

[data-anime] {
  opacity: 0;

}
.anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
} */

[data-animation]{
  opacity: 0;
  transition: .2s;
}

[data-animation="top"]{  
  transform: translate3d(0, -50px, 0);
}

[data-animation="left"]{
  transform: translate3d(-50px, 0, 0);
}


[data-animation="right"]{
  transform: translate3d(50px, 0, 0);
} 


[data-animation].animate{  
  opacity: 1;
  transform: translate3d(0px, 0px, 0px); 
} 
