.beneficios{
  margin-bottom: 8rem; 
  padding-top: 4rem;
}

.beneficios-list{ 
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 32px 32px;
}

.beneficio-content{
  max-width: 314px;  
}

.beneficio-img img{
  width: 19.63rem;
  height: 10.31rem;
  padding: 36px 84px;
  background-color: var(--cor-0); 
  border-radius: 5px 5px 0 0; 
  margin: 0px;
}

.beneficio-text{ 
  background-color: var(--cor-6);
  display: flex;
  gap: .5rem;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.10);  
}

.beneficio-subtitle{
    text-transform: uppercase;
}

@media (max-width: 768px) {
  .beneficios{    
    padding-top: 2rem;
  }
  
  .beneficio-img{
    background-color: var(--cor-0);
    width: 16rem;
    height: 7rem;
    padding: 9px 42px;  
    border-radius: 5px 5px 0 0;   
  }

  .beneficio-img img{
    width: 10rem;
    height: 5rem;
    padding: 9px 42px;  
  }
  .beneficios-list{ 
    display: flex;
    text-align: center;
    justify-content: space-around;     
    gap: 32px 32px;
  }
  .beneficio-text{
    gap: 0rem;    
    padding: .5rem ;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.10);  
  }
  .beneficio-subtitle{
    font-size: 1rem;
  }
  .beneficios{
    margin-bottom: 4rem; 
  } 
}
