footer{
  padding: 4rem 0rem 0rem 0rem;
}

.footer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-title{
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer-title::before{
  content: '';
  display: block;
  width: 6.25rem;
  height: 0.3125rem;
  position: absolute;
  background-color: var(--cor-7);
  border-radius: 5px; 
  margin-top: 1.38rem;
}

.footer-list{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.footer-links a:hover{
  text-decoration: underline;
}

.footer-icon{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.footer-sub-grupo{
  display: flex;
  justify-content: space-between;
  /* gap: 6rem; */
}

.footer-register{
  text-align: center;
  letter-spacing: .050rem;
  margin: 4rem 0rem;
  padding: 0rem 1rem;
}

.footer-copy{
  text-align: center;
  padding: .5rem;  
}

.footer-copy a{
  text-decoration: underline;
}

@media (max-width:500px){
  .footer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .footer-social-media{
    flex-direction: row;
    gap: 1rem;
  }

  .footer-item{
    letter-spacing: .050rem;
  }
  
 }