/*reset*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;   
}

p, h1, ul{
  margin: 0px;
}

img{
  max-width: 100%;
  display: block;
  margin: 0px;
}

a{
  text-decoration: none;
}

body{
  font-family: var(--font-main);
 
}

.container{
  max-width: 75rem; /*1200px*/
  margin: 0 auto;  
}

.title-main{
  font-size: var(--font-xxl);
  color: var(--cor-0);
  position: relative; 
  line-height: 2.5rem; 
}

.title-main::after{
  content: '';
  display: block;
  width: 150px;
  height: 10px;
  position: absolute;
  background-color: var(--cor-3);
  border-radius: 10px;
}

.section-details{
  display: flex;
  justify-content: space-between;
}
