/* header{
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--cor-1);
} */

.bg-details{
  max-width: 100%;
  height: 18px;
}

.header-logo{
  max-width: 120px;  
}

.header-content{
  padding: .2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;   
}

.header-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.menu-controls{
  display: flex;
}

#hamburguer{
  border-top: 2px solid var(--cor-0);
  width: 40px;
  display: block;
  background-color: var(--cor-1);
}

#hamburguer::after, #hamburguer::before{
  content: '';
  display: block;
  height: 2px;
  width: 40px;
  background: var(--cor-0);
  margin-top: 10px;
  transition: .3s;
  position: relative;
}

.header-nav-menu.active #hamburguer{
  border-top-color: transparent ;
}

.header-nav-menu.active #hamburguer::before{
  transform: rotate(135deg);
}

.header-nav-menu.active #hamburguer::after{
  transform: rotate(-135deg);
  top: -12px;
}

.btn-menu-mobile{
  display: none;
}

.header-menu-list{
  display: flex;
  gap: 0px;
  text-transform: uppercase;
  letter-spacing: 0.1rem; 
  margin: 0px; 
}

.header-menu-item a{
  padding: .5rem 1rem;
  transition: all .2s;  
}

@media (min-width: 1000px) {
  .header-menu-item a:hover{
    background-color: var(--cor-0);
    color: var(--cor-1);
  }
}

.header-menu-item:not(:last-child){
  border-right: 2px solid var(--cor-0);  
}

.header-icons{
  display: flex;
  gap: 10px;
}

.header-icon-item{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transition: all .2s;
}

.header-icon-item:hover{
  scale: 1.25;
}

@media (max-width: 1000px){
  .header-content{
    padding: 1rem;
  }
  .header-logo{
    max-width: 90px;    
  }
  .header-nav{
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
  }

  .header-content{
    flex-direction: column;   
  }   
}

@media (max-width: 600px){
  header{
    position: relative;    
    width: 100%;   
    background-color: var(--cor-1);
  }
  .header-logo{
    max-width: 80px;  
  }
  .header-content{
    padding: .5rem 1rem;
  }
  .header-menu-item a:hover:disabled{
    background-color: var(--cor-0);
    color: var(--cor-1);
  }
  .header-menu-item:not(:last-child){
    border-right: none;
  }

  .header-menu-list, .header-icons{
    /* display: none;  */
    display: block;   
    position: absolute;
    width: 100%;
    top: 110px;
    right: 0px;
    z-index: 1000;
    background-color: var(--cor-1); 
    height: 0px;   
    text-align: center;
    transition: .3s;  
    visibility: hidden; 
    overflow-y: hidden; 
  }
  .header-nav-menu.active .header-menu-list{   
    height: 400rem;
    visibility: visible; 
  }

  .header-nav-menu.active .header-icons{
    visibility: visible;
  }

  .header-menu-item{    
    padding: 2rem;
    border-bottom: 2px solid var(--cor-6)
  }
  
  .btn-menu-mobile{
    display: block;
  }

  .header-content{
    flex-direction: row;
  } 

}