.btn-icon{
  background-color: var(--cor-0);
  height: 100px;
}

.introduction{
  margin-bottom: 8rem;
}

@media (max-width: 1140px){
  .introduction{
    margin-bottom: 4rem;
  }
}

@media (max-width: 500px){
  .introduction{
    margin-bottom: 2rem;
  }
}