.smash{
  width: 100%;
  height: 600px;
  background-image: url('../../assets/imgs/smash/smash.jpg'); 
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;  
  object-fit: contain;
  position: relative;
}

.smash p{
  z-index: 2;
  position: absolute;
  text-align: center;
  margin-top: 8rem;
  text-shadow: 2px 2px 4px 0px #000;
  letter-spacing: 1px;
}

.overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 25);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1;
}

.smash button{
  margin-top: 20rem
}