.smash{
  width: 100%;
  height: 800px;
  background-image: url('../../assets/imgs/smash/smash.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  object-fit: contain;
  position: relative;
}

.overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}